.aDIWs87d{height:100%;width:100%;max-width:1280px;margin:0 auto;display:grid}
.nX7tBc6h{padding:20px;border:1px solid #e5edf3;border-radius:20px;display:grid;grid-template-columns:auto 1fr;grid-column-gap:20px}.Mh1BAdnr{height:24px;width:22px;display:flex;justify-content:center;align-items:center}.Mh1BAdnr img{height:14px;width:20px}.HT0iOcbx{display:grid;height:100%;grid-template-rows:repeat(2, auto);grid-row-gap:2px}.HT0iOcbx .MLIppBFQ{height:24px;width:fit-content;line-height:18px;font-size:14px;font-family:"Exo2B";color:var(--color-accent);display:grid;grid-template-columns:1fr auto;grid-column-gap:2px;justify-items:flex-start;align-items:center}.HT0iOcbx .MLIppBFQ .MNmC1kKF::first-letter{text-transform:uppercase}.HT0iOcbx .MLIppBFQ .cb8Ah1KM{width:24px;height:24px;display:flex;justify-content:center;align-items:center;cursor:pointer}
.T9xx3gv0{height:fit-content;background:#f8fafc;border-radius:20px;padding:20px;max-width:328px;width:100%;grid-area:contacts}.T9xx3gv0 .JLEz9T61{display:grid;grid-template-columns:1fr;grid-row-gap:2px;margin-bottom:20px}.T9xx3gv0 .JLEz9T61 .mu_APfjZ{font-family:Exo2B;font-size:14px;line-height:18px;color:var(--color-accent)}.T9xx3gv0 .JLEz9T61 .XUa5orOf{color:var(--color-secondary);font-size:14px;line-height:18px}.T9xx3gv0 .JLEz9T61 .VhURX6N6{width:fit-content;display:grid;grid-template-columns:repeat(2, auto);grid-column-gap:5px}.T9xx3gv0 .JLEz9T61 .VhURX6N6 .vF7Iyx_u{font-family:Exo2B;color:#00cdff;font-size:14px;line-height:18px}.T9xx3gv0 .JLEz9T61 .VhURX6N6 .tW8sbG58{color:var(--color-secondary);font-size:12px;line-height:16px}.T9xx3gv0 .qmbTrGlb{width:100%;max-width:288px;padding:14px 50px;border-radius:30px;font-size:14px;line-height:14px;background:#00cdff;border:none;font-family:Exo2B;color:#fff;cursor:pointer}
.RPyD7ndC{display:grid;grid-template-columns:1fr;grid-template-rows:repeat(4, auto);grid-gap:6px;grid-area:list}@media only screen and (min-width: 992px){.RPyD7ndC{grid-template-columns:repeat(4, auto);grid-template-rows:1fr}}
.Rmp9GbxQ{display:grid;grid-template-columns:1fr;grid-template-rows:repeat(3, auto);grid-row-gap:20px;grid-area:text}.Rmp9GbxQ .JZEvD4IL{font-size:18px;line-height:22px;font-weight:700;font-family:Exo2B;color:var(--color-accent)}.Rmp9GbxQ .IHThZhuW{display:grid;grid-template-columns:1fr;grid-row-gap:5px}.Rmp9GbxQ .IHThZhuW .d459bnYa{font-size:14px;line-height:18px;color:var(--color-base)}.Rmp9GbxQ .IHThZhuW .zBWr0wac{background:none;border:none;cursor:pointer;justify-self:start;padding:0}.Rmp9GbxQ .t375dXlL{width:fit-content;display:grid;grid-template-columns:repeat(2, auto);justify-items:center;align-items:center;padding:4px 0}@media only screen and (min-width: 992px){.Rmp9GbxQ .t375dXlL{padding-top:15px}}.Rmp9GbxQ .t375dXlL a{text-decoration:none;color:var(--color-accent);font-size:14px;line-height:14px}.Rmp9GbxQ .t375dXlL .hc9M1pVp{width:24px;height:24px;display:flex;justify-content:center;align-items:center;cursor:pointer}
.D1u5KZCr{width:100%;display:grid;grid-template-columns:1fr;grid-template-rows:repeat(2, auto);grid-row-gap:10px;grid-area:title}@media only screen and (min-width: 992px){.D1u5KZCr{grid-template-columns:auto 1fr;grid-template-rows:1fr}}.VfZj4Wl0{display:grid;grid-template-columns:1fr;grid-template-rows:repeat(2, auto);grid-row-gap:5px}.VfZj4Wl0 .pu4AbyPB{font-family:Exo2B;font-size:18px;line-height:22px;color:var(--color-accent)}.VfZj4Wl0 .liDOZdQi{font-size:14px;line-height:18px;color:var(--color-secondary)}.XE8D89Tc{height:24px;display:grid;align-items:center;grid-template-columns:auto auto 1fr;grid-template-rows:1fr;grid-column-gap:5px;grid-template-areas:"title cost icon";font-size:14px;line-height:18px}@media only screen and (min-width: 992px){.XE8D89Tc{justify-self:end;grid-column-gap:18px;justify-items:end;grid-template-columns:auto auto;grid-template-rows:auto auto;grid-template-areas:"title  icon" "cost icon"}}.XE8D89Tc .kx03Ndih{font-family:Exo2B;color:var(--color-accent);font-size:14px;line-height:18px;grid-area:title}.XE8D89Tc .kSvvmKHP{color:var(--color-secondary);grid-area:cost}.XE8D89Tc .DE5ZFGhY{width:24px;height:24px;background:#edf3f7;border-radius:4px;padding:5.5px;display:flex;justify-content:center;align-items:center;grid-area:icon;justify-self:end}@media only screen and (min-width: 992px){.XE8D89Tc .DE5ZFGhY{width:42px;height:42px;border-radius:14px;padding:9px}}
.ZgrneweC{display:grid;grid-template-columns:1fr;grid-template-rows:160px 56px;grid-gap:4px;height:100%;min-height:220px;max-height:394px;position:relative;grid-area:galery}@media only screen and (min-width: 552px){.ZgrneweC{grid-template-rows:256px 89.6px}}@media only screen and (min-width: 992px){.ZgrneweC{grid-template-columns:auto auto;grid-template-rows:1fr}}.ZgrneweC .imaUIe1S{height:100%;border-radius:10px;overflow:hidden;max-height:394px;position:relative}.ZgrneweC .imaUIe1S img{height:100%;width:100%;object-fit:cover}.ZgrneweC .imaUIe1S .K2upcpnU{width:100%;height:24px;display:grid;grid-template-columns:1fr 1fr;grid-template-rows:24px;position:absolute;justify-content:space-between;top:42%;left:0;right:0;padding:0 9px}.ZgrneweC .imaUIe1S .K2upcpnU button{border-radius:50%;height:24px;width:24px;border:none;background:#edf3f7;display:flex;align-items:center;justify-content:center;cursor:pointer}.ZgrneweC .imaUIe1S .K2upcpnU button img{width:4px;height:8px}.ZgrneweC .imaUIe1S .K2upcpnU button:nth-child(1){justify-self:start}.ZgrneweC .imaUIe1S .K2upcpnU button:nth-child(1) img{transform:rotate(-180deg)}.ZgrneweC .imaUIe1S .K2upcpnU button:nth-child(2){justify-self:end}@media only screen and (min-width: 992px){.ZgrneweC .imaUIe1S .K2upcpnU{display:none}}.ZgrneweC .IbjSxohx{height:100%;max-height:394px;display:grid;grid-template-columns:repeat(3, auto);grid-template-rows:auto;grid-column-gap:4px}.ZgrneweC .IbjSxohx .YiYWplMu{border-radius:10px;overflow:hidden;height:100%;max-height:100%}.ZgrneweC .IbjSxohx .YiYWplMu img{height:100%;width:100%;object-fit:cover}.ZgrneweC .IbjSxohx .YiYWplMu:nth-child(3){display:none}@media only screen and (min-width: 992px){.ZgrneweC .IbjSxohx .YiYWplMu:nth-child(3){display:block}}@media only screen and (min-width: 992px){.ZgrneweC .IbjSxohx{grid-template-columns:repeat(2, auto);grid-template-rows:repeat(2, auto);grid-row-gap:6px;grid-column-gap:6px}}.ZgrneweC .UHXdC5sB{display:none}@media only screen and (min-width: 992px){.ZgrneweC .UHXdC5sB{position:absolute;bottom:16px;left:18px;right:18px;display:flex;justify-content:space-between}}.ZgrneweC .UHXdC5sB .AUszXi4z{display:none}@media only screen and (min-width: 992px){.ZgrneweC .UHXdC5sB .AUszXi4z{display:grid;grid-template-columns:repeat(2, auto);grid-column-gap:6px}}
.d31YlEiU{border-radius:30px;padding:12px 18px;font-family:Exo2R;color:var(--color-accent);font-size:14px;line-height:18px;cursor:pointer;border:none;display:flex;justify-content:center;align-items:center}
.YQ9OgndJ{padding:20px 17px;height:100%;width:100%;display:flex;flex-direction:column;align-items:center;gap:20px}@media only screen and (min-width: 992px){.YQ9OgndJ{width:100%;padding:37px 50px}}.YQ9OgndJ .e0BAfp55{width:100%;height:fit-content;display:grid;grid-gap:20px;grid-template-areas:"galery" "title"}@media only screen and (min-width: 992px){.YQ9OgndJ .e0BAfp55{grid-template-areas:"title" "galery"}}.YQ9OgndJ .X6Oa2QM_{height:fit-content;display:grid;grid-gap:20px;grid-template-areas:"list" "contacts" "text"}@media only screen and (min-width: 992px){.YQ9OgndJ .X6Oa2QM_{grid-row-gap:30px;grid-template-areas:"list contacts" "text contacts"}}
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

html,
body,
#YrYRWE12 {
  height: 100%;
}

:root {
  --color-accent: #3f586e;
  --color-secondary: #bfcedb;
  --color-base: #2c2e3e;
}

@mixin tablet {
  @media only screen and (min-width: 552px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@font-face{font-family:"Exo2R";font-style:normal;font-weight:400;src:url(../d8703b6aa928306cccf5.ttf) format("truetype")}@font-face{font-family:"Exo2B";font-style:normal;font-weight:700;src:url(../343af6210440d7ad761e.ttf) format("truetype")}html,body{height:100%}body{background:#fff;font-size:14px;line-height:18px;font-family:"Exo2R"}body>div{height:100%}

/*# sourceMappingURL=main.e3020b49.css.map*/