@import '@/styles/mixins.scss';

.description {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-row-gap: 20px;
  grid-area: text;

  .description__title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    font-family: Exo2B;
    color: var(--color-accent);
  }

  .description__body {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 5px;

    .description__text {
      font-size: 14px;
      line-height: 18px;
      color: var(--color-base);
    }

    .description__something {
      background: none;
      border: none;
      cursor: pointer;
      justify-self: start;
      padding: 0;
    }
  }

  .description__link {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: center;
    align-items: center;
    padding: 4px 0;

    @include desktop {
      padding-top: 15px;
    }
    a {
      text-decoration: none;
      color: var(--color-accent);
      font-size: 14px;
      line-height: 14px;
    }

    .description__icon {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}
